* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
body {
}
li {
    font-family: 'Bowlby One SC', cursive;
    font-size: 100%;
}

h1 {
    text-align: center;
    font-family: 'Bowlby One SC', cursive;
}
table {
    background-color: silver;
    margin-top: 5vh;
    margin: auto;
    max-width: 80vw;
    text-align: center;
    border-collapse: collapse;
    border: 6px solid black;
    border-radius: 5px;
    overflow: hidden;
    color: black;
    font-family: 'Bowlby One SC', cursive;
}

th {
    color: black;
    border-bottom: 2px solid black;
    text-align: center;
    font-size: 15px;
    padding: 20px 20px 20px;
}

tr {
    text-align: center;
    height: 5vh;
    border-radius: 5px ;
    padding: 50px;
}

td {
    padding: 20px;
}

.optionsBtn button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}