<link href="@Url.Content("~/Content/Home.css")" rel="stylesheet" type="text/css" />

<header>
    <video class="bjImage" autoplay muted loop>
        <source src="https://player.vimeo.com/progressive_redirect/playback/662337805/rendition/1080p/1080p.mp4?loc=external&signature=4d94ac5c03a46fa8b4bbe5fd5be1fe8c9bc70cfec0ec0b1e0a8b40b4c48c6e6b" type="video/mp4">
    </video>

</header>
<br />
<br />
<main>

    <section class="aboutShopSection">
        <h1>What's Hot at SportsShop.com</h1>
        <h2>Welcome to SportsShop store online, here you can find many sport products such Clothing,Shoes and Sport Equipment </h2>
        <h2>What you waiting for? start scrolling and enjoy 😀</h2>
    </section>

    <div>
        <video class="bjImage" autoplay muted loop>
            <source src="https://player.vimeo.com/external/662613337.hd.mp4?s=8547c358656cdc5612afab903382c09944e45458&profile_id=175" type="video/mp4">
        </video>
    </div>

    <section class="aboutDeveloperSection">
        <h1>Website Developer Information:</h1>
        <h2>My name is Amir and im a FullStack Developer student at teach-Career Academy</h2>
        <h2>Ive created this website as Part of my current .NET project </h2>
        <h2>I hope that website will satisfied your needs and make your next online purchasing an easy experience as possible </h2>
    </section>
    <hr />
    <section class="aboutLocation">
        <h1>Location </h1>
        <p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3385.2546276412236!2d34.892640884516894!3d31.953988232798217!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1502ca5925736e95%3A0xc5c5043db367e9c0!2z15jXnNeo15M!5e0!3m2!1siw!2sil!4v1643295686296!5m2!1siw!2sil" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </p>
    </section>

</main>


<footer>
</footer>

